<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>All users</title>
</head>

<body>
    <table class="table table-hover">
        <tr>
            <td>Name</td>
            <td>Email</td>
        </tr>
        <tr>
            <td>dat</td>
            <td>ledat251@gmail.com</td>
            <td><a href="/">Delete</a></td>
        </tr>
        <tr>
            <td>Phuong</td>
            <td>Phuonglous1234@gmail.com</td>
            <td><a href="/">Delete</a></td>
        </tr>
        <tr>
            <td>Huong</td>
            <td>Linhhuong1998@gmail.com</td>
            <td><a href="/">Delete</a></td>
        </tr>
    </table>
</body>

</html>