<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        function checkForm(){
            let inputName = document.getElementById('txtName').value;
            if(inputName.trim().length==0){
               // alert('Name can not be empty');
                document.getElementById('lblNameError').innerText ="Name can not be empty";
                return false;
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <form action="/allUser" method="post" onsubmit="return checkForm()">
            <div class="form-group">
                <label for="txtName">Name</label>
                <input type="text" name="txtName" id="txtName" class="form-control" re>
                <label id="lblNameError" style="color:red"></label>
            </div>
            <div class="form-group">
                <label for="txtPassword">Password</label>
                <input type="password" name="txtPassword" id="txtPassword" class="form-control" re>
                <label id="lblNameError" style="color:red"></label>
            </div>
            <div class="form-group">
                <label for="txtEmail">Email</label>  
                <input type="email" name="txtEmail" id="txtEmail" class="form-control" re>  
            </div>   
           <input type="submit" value="Register" class="btn btn-default">
        </form>
    </div>
</body>
</html>